
.container{
    composes: war-container from "../../../styles/layout.scss";
    padding-top: 10px;
}


.button-container{
    composes: list from "../../../styles/layout.scss";
    composes: clear-fixed from "../../../styles/layout.scss";
}


.add-button{
    background-color: #2ca1f1;
    color: #fff;
    border-radius: 10px;
    width: 45%;
    margin: 0 8px;
    float: left;
    height: 49px;
    line-height: 49px;
    display: block;
    text-align: center;
    font-size: 0.9rem;
    i{
        position: relative;
        top: 7px;
    }
}

