
.container{
    composes: war-container from "../../../styles/common.scss";
    padding-top: 10px;
}


.button-container{
    composes: list from "../../../styles/common.scss";
    composes: clear-fixed from "../../../styles/common.scss";
}


.add-button{
    background-color: #2ca1f1;
    color: #fff;
    border-radius: 10px;
    width: 45%;
    margin: 0 8px;
    float: left;
    height: 49px;
    line-height: 49px;
    display: block;
    text-align: center;
    font-size: 0.9rem;
    i{
        position: relative;
        top: 7px;
    }
}

.passenger-list{
    composes: list from "../../../styles/common.scss";
}



.passenger-item{
    composes: item from "../../../styles/common.scss";
    padding-right: 54px;
    border-color: #ddd;
    background-color: #fff;
    h2{
        margin: 0 0 2px;
        font-weight: 400;
        font-size: 16px !important;
    }
    p{
        color: #666;
        font-size: 14px;
        margin-bottom: 2px;
    }
    i{
        top: 32px; 
        position: absolute;
        right: 15px;
        display: flex;
        display: -webkit-flex;
        -webkit-justify-content: center;
        justify-content: center;
        z-index: 100;
    }
}


.check-select{
    padding: 0;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    position: relative;
    display: inline-block;
    z-index: 1;
    overflow: hidden;
    pointer-events: auto;
    input{
        position: absolute;
        width: 15px;
        height: 15px;
        display: block;
        border: 0;
        background: 0 0;
        cursor: pointer;
        -webkit-border-radius: 0;
        border-radius: 0;
        outline: none !important;
        appearance: none !important;
        -webkit-appearance: none !important;
        margin: 0;
        line-height: normal;
        left: 3px;
        top: 3px;
        border: 0px;    
    }
}


.submit-btn{
    composes: button from "../../../styles/common.scss";
    composes: button-block from "../../../styles/common.scss";
    background-color: #ff8409;
    color:#fff;
    width: 90%;
    margin: 0px auto;
    margin-top: 20px;
}

