@CHARSET "UTF-8";

div#WPSD-340S{
	position:relative;
	padding-top:180px;
	width:1350px;
	height:920px;
	background-image:url("../image/product/background_color.jpg");
	overflow:hidden;
}

#WPSD-340S img#WPSD-340S_image{
	position:absolute;
	top:200px;
	right:100px;
}


#WPSD-340S h1{
	position:relative;
	left:30px;
	color:#66CC33;
	margin-bottom:20px;
	font-size:58px;
}

#WPSD-340S span{
	color:#00FF66;
	margin-right:15px;
	font-size:65px;
}

#WPSD-340S h2{
	position:relative;
	left:30px;
	color:#00FF00;
	font-size:32px;
	font-weight:900;
	width:1350px;
}

#WPSD-340S h3{
	position:relative;
	left:70px;
	top:50px;
	color:#00FF00;
	font-size:20px;
	font-weight:900;
	width:700px;
}

#WPSD-340S b.font_size{
	font-size:40px;
	color:#FFFF33;
}

#WPSD-340S p{
	position:relative;
	left:30px;
	top:30px;
	color:#00FF00;
	font-weight:900;
	font-size:120%;
}

#WPSD-340S p#left{
	float:left;
	position:relative;
	top:130px;
	
	color:#3333FF;
	font-weight:500;
	font-size:110%;
	
	height:800px;
}



#WPSD-340S ul{
	position:relative;
	display:inline-block;
	left:80px;
    margin-top:100px;	
}



#WPSD-340S li{
	margin:30px;
	color:#3333FF;
	font-weight:500;
}


#WPSD-340S .inline{
	display:inline;
}


#WPSD-340S .relative{
	position:relative;
	top:-140px
}

#WPSD-340S .move_rigth{
	position:relative;
	left:80px
}

#WPSD-340S .big_font{
	font-size:36px;
	color:#FF9900;
	padding:0px 5px;
}
