@CHARSET "UTF-8";

div#user_centre{
	margin-left:5px;
	margin-top:5px;
	width:1325px;
	height:970px;
   /* background-image:url("../image/backimage.jpg");*/
   /*	border: 2px dashed #C8C8C8;   */
} 


 #user_centre  div#user_centre_left{
 	position:relative;
	top:100px;
 	text-align:center;
	margin-left:1px;
	width:330px;
	height:990px;
	border: 2px dashed #C8C8C8;
	background-color:#FFF;
}

#user_centre_left img#portrait{
	position:relative;
	top:30px;
}


#user_centre_left dl{
	margin:0px;
	margin-top:60px;
	margin-bottom:80px;
	
}


#user_centre_left dd{
	margin:0px;
	margin-top:5px;
	padding:15px;
	background-color:#CCC;
}


#user_centre_left a{
	display:block;
	text-decoration:none;
	color:#000;
}

#user_centre_left dd:hover{
	background-color:#999;
}

#user_centre_left dd.head{
	margin:0px;
	margin-top:5px;
	padding:15px;
	background-color:#666;
	color:#FFF;
}



#user_centre  div#user_centre_right{
	position:absolute;
	margin-left:10px;
	margin-top:5px;
	top:100px;
	left:370px;
	width:900px;
	height:990px;
	background-color:#FFF;
	border: 2px dashed #C8C8C8;
}


#user_centre_right dd{
	margin-left:80px;
	margin-top:50px;
}


#user_centre_right img{
	margin-top:50px;
	position:absolute;
	top:560px;
	left:180px;
}



#user_centre_right  input[type=submit]
{
	position:relative;
	left:400px;
	top:20px;
	width:60px;
}


#loading{
	font-size: 24px;
	font-weight: 900;
	width: 240px;
	height: 30px;
	text-align: center;
   
	position: absolute;
	top:200px;
    left:700px;

    background: url('../image/form/loading.gif') no-repeat;
    background-color: #fff;
    color:#000;

    display: none;
}