@CHARSET "UTF-8";

div#all{
	padding-top:120px;
	text-align:center;
	width:1350px;
	height:850px;
}

#all h1{
	color:#3333FF;
	font-weight:900;
	margin-top:20px;
	margin-bottom:50px;
}

#all h3{
	padding-left:55px;
	text-align:left;
	color:#33FF33;
	font-weight:900;
	margin:20px 20px;
}

#all dl{
	color:#CC6600;
	font-weight:700;
	margin:10px 10px;
	margin-bottom:50px;
}

#all iframe{
	width: 701px;; 
	height: 553px;
	frameborder: 0; 
	scrolling: no;
}
