
div#view{
	position:relative;
	padding-top:180px;
	width:1350px;
	height:920px;
	background-image:url("../image/product/background_color.jpg");
	overflow:hidden;
}

#view  img#view_image{
	position:absolute;
	top:120px;
	right:100px;
}


#view h1{
	position:relative;
	left:30px;
	color:#3399FF;
	margin-bottom:20px;
	font-size:58px;
}

#view span{
	color:#33FFFF;
	margin-right:15px;
	font-size:65px;
}

#view h2{
	position:relative;
	left:30px;
	color:#00FF00;
	font-size:32px;
	font-weight:900;
	width:1350px;
}

#view h3{
	position:relative;
	left:70px;
	top:50px;
	color:#00FF00;
	font-size:24px;
	font-weight:900;
	width:600px;
}

#view b.font_size{
	font-size:40px;
	color:#FFFF33;
}

#view p{
	position:relative;
	left:30px;
	top:20px;
	color:#00FF00;
	font-weight:900;
	font-size:120%;
}



#view ul{
	display:block;
    margin-top:100px;	
}



#view li{
	float:left;
	margin:30px;
	color:#3333FF;
	font-weight:500;
}


#view .inline{
	display:inline;
}


#view .relative{
	position:relative;
	top:-140px
}

#view .move_rigth{
	position:relative;
	left:80px
}

#view .big_font{
	font-size:36px;
	padding:0px 5px;
}
