

.container{
    composes: war-container from "../../../styles/layout.scss";
}



.forgot-password-form{
    composes: list from "../../../styles/layout.scss";
    margin: 0 0 15px;
    padding: 0;
}



.form-item{
    composes: item-input from "../../../styles/layout.scss";
    composes: item from "../../../styles/layout.scss";
    input{
        width: 100%;
        webkit-box-flex: 1;
        -webkit-flex: 1 120px;
        flex: 1 120px;
    }
    span{
        margin-right: 10px;
    }
}

.btn-Submit{
    margin: 10px 15px;
}


.submit{
    composes: button from "../../../styles/layout.scss";
    composes: button-block from "../../../styles/layout.scss";
    background-color: #ff8409;
    color:#fff;
    width: 100%;
    margin: 15px auto;
    border-radius: 5px;
}


.disabled{
    background-color: #ccc !important;
    color:#fff !important;
    pointer-events: none;
}


