

<div class='footer-tab-container'>
	<a ui-sref="cloudbuy.index" ng-class="{'active':type === 0}">
		<i class="cicon bar-home" ng-if="type !== 0"></i>
		<i class="cicon bar-home-on" ng-if="type === 0"></i>
		<span>首页</span>
	</a>
	<a href="javascript:void(0);" ng-class="{'active':type === 1}">
		<i class="cicon bar-activity" ng-if="type !== 1"></i>
		<i class="cicon bar-activity-on" ng-if="type === 1"></i>
		<span>活动</span>
	</a>
	<a href="javascript:void(0);" ng-class="{'active':type === 2}">
		<i class="cicon bar-friends" ng-if="type !== 2"></i>
		<i class="cicon bar-friends-on" ng-if="type === 2"></i>
		<span>好友</span>
	</a>
	<a ui-sref="user.index" ng-class="{'active':type === 3}">
		<i class="cicon bar-mine" ng-if="type !== 3"></i>
		<i class="cicon bar-mine-on" ng-if="type === 3"></i>
		<span>我的</span>
	</a>
</div>