

.root-container{
	height:100%;
	width:100%;
	position: relative;
}


.list-header-container{
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	height:88px;
}

.trainInfo-container{
	position: absolute;
    top: 88px;
    bottom: 53px;
    left: 0;
    right: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    padding: 10px;
}


.trainInfo-list{
	composes: list from "../../../styles/layout.scss";
}


.list-empty {
    font-size: 1.25rem;
    font-weight: 600;
    color: #333;
    width: 100%;
    margin-top: 50px;
    text-align: center;
}


.trainInfo-item{
	composes: item from "../../../styles/layout.scss";
	composes: text-overflow from "../../../styles/layout.scss";
    white-space: normal;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 15px 10px 10px;
}


.item-trainInfo{
	composes: clear-fixed from "../../../styles/layout.scss";
    width: 100%;
    position: relative;
}


.item-City{
	composes: text-overflow from "../../../styles/layout.scss";
    float: left;
    line-height: 36px;
    font-size: 1.025rem;
}

.item-deptCity{
	composes: item-City;
	width: 25%;
    font-weight: 600;
}

.item-infos{
	composes: item-City;
    width: 20%;
    text-align: center;
    line-height: 12px;
    font-size: .75rem;
    color: #666;
}  

.item-arrCity{
	composes: item-City;
    width: 25%;
    text-align: center;
    font-weight: 600;
}

.item-price{
	composes: item-City;
    width: 30%;
    text-align: center;
}

.item-small {
    margin-left: 1px;
    font-size: .75rem;
    color: #666;
}

.item-money {
    font-weight: 600;
    font-size: 1.25rem;
    color: #f30;
}

.item-trainTime{
	padding-bottom: 12px;
    border-bottom: 1px dashed #d0d0d0;
    display: block;
    font-size: 1.125rem;
    width: 100%;
}

.item-detp {
	display: inline-block;
    width: 49%;
    color: #2ca1f1;
}

.item-arr {
	display: inline-block;
    width: 49%;
    color: #333;
    padding-right: 15px;
    text-align: left;
    position: relative;
}

.item-trainSeat{
    padding-top: 10px;
    font-size: .8rem;
    color: #333;
}

.item-trainSeat-item{
	display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 33%;
    overflow: hidden;
}

.item-trainSeat-rob{
    width: auto;
    color: #2ca1f1;
    display: inline;
    overflow: hidden
}

.item-trainSeat-Sell-Out{
    color: #00c51f;
}





