
//全局样式
:global{
	a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{
	    margin: 0;
	    padding: 0;
	    border: 0;
	    vertical-align: baseline;
	    font: inherit;
	    font-size: 100%;
	}

	button,h1,h2,h3,h4,h5,h6,input,select,textarea{
	    font-family: "-apple-system","Helvetica Neue",Roboto,"Segoe UI",sans-serif;
	}

	button,input,select,textarea{
	    margin: 0;
	    outline-offset: 0;
	    outline-style: none;
	    outline-width: 0;
	    -webkit-font-smoothing: inherit;
	    background-image: none;
	}

	button,input,select,textarea{
	    margin: 0;
	    outline-offset: 0;
	    outline-style: none;
	    outline-width: 0;
	    -webkit-font-smoothing: inherit;
	    background-image: none;
	}

    input[type=color],input[type=date],input[type=datetime-local],input[type=datetime],input[type=email],input[type=month],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=time],input[type=url],input[type=week],textarea{
        display: block;
        padding-top: 2px;
        padding-left: 0;
        height: 34px;
        color: #111;
        vertical-align: middle;
        font-size: 14px;
        line-height: 16px;
        border: 0;
    }

    input[type=checkbox],input[type=radio]{
        margin: 0;
        line-height: normal;
    }
    
    
    button,input,label,select,textarea{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.42857;
    }

    table{
        border-spacing: 0;
        border-collapse: collapse;
    }


    h1,h2,h3,h4,h5,h6{
        color: #000;
        font-weight: 500;
        line-height: 1.2;
    }

    h2{
        display: block;
        font-size: 1.5em;
        -webkit-margin-before: 0.83em;
        -webkit-margin-after: 0.83em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-weight: bold;
    }
    

    ol,ul{
        list-style: none;
    }
} 


.root-container{
    background: #ececec;
    margin:0px;
    padding:0px;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom:0px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

.war-container{
    position: absolute;
    top: 44px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    overflow-scrolling: touch;
}


.clear-fixed:after{
        content: '';
        display: block;
        clear: both;
}


.text-overflow{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.button{
	text-decoration: none;
    border-color: transparent;
    background-color: #f8f8f8;
    color: #444;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0 12px;
    min-width: 52px;
    min-height: 47px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    vertical-align: top;
    text-align: center;
    font-size: 16px;
    line-height: 42px;
    cursor: pointer;
    text-overflow: ellipsis;
    outline: 0;
}

.button:after{
    position: absolute;
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
    content: ' ';
}


.button-block{
	display: block;
	clear: both;
	margin-top: 10px;
	margin-bottom: 10px;
}

.button-block:after{
    clear: both;
}

.button-small{
    padding: 2px 4px 1px;
    min-width: 28px;
    min-height: 30px;
    font-size: 12px;
    line-height: 26px
}


.list{
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 0;
    margin-bottom: 20px;
    &:last-child{
        margin-bottom: 0px;
    }
}

.item{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 16px;
    border-width: 1px;
    border-style: solid;
    font-size: 16px;
    border-color: #ddd;
    background-color: #fff;
}

.item-input{
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: relative;
    padding: 6px 0 5px 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    overflow: hidden;
    input{
        -webkit-border-radius: 0;
        border-radius: 0;
        -webkit-box-flex: 1;
        -webkit-flex: 1 220px;
        -moz-box-flex: 1;
        -moz-flex: 1 220px;
        -ms-flex: 1 220px;
        flex: 1 220px;
        appearance: none;
        margin: 0;
        padding-right: 24px;
        background-color: transparent;
        -webkit-appearance: none;
    }
}



