/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.cicon {
    display: inline-block;
    background-size: 7.8125rem 118.625rem;
}
.icon-fly-icon {
  background-image: url(../images/sprite.png);
  background-position: 0rem 0rem;
  width: 2.09375rem;
  height: 0.125rem;
}
.icon-icon-plane-point_big {
  background-image: url(../images/sprite.png);
  background-position: 0rem -0.125rem;
  width: 3.0625rem;
  height: 0.25rem;
}
.icon-icon-plane-point_small {
  background-image: url(../images/sprite.png);
  background-position: 0rem -0.375rem;
  width: 1.0625rem;
  height: 0.25rem;
}
.icon-icon-bus-point-to {
  background-image: url(../images/sprite.png);
  background-position: 0rem -0.625rem;
  width: 4.53125rem;
  height: 0.25rem;
}
.icon-icon-plane-point-big {
  background-image: url(../images/sprite.png);
  background-position: 0rem -0.875rem;
  width: 3.0625rem;
  height: 0.25rem;
}
.icon-pul-icon {
  background-image: url(../images/sprite.png);
  background-position: 0rem -1.125rem;
  width: 0.875rem;
  height: 0.5rem;
}
.icon-down-icon {
  background-image: url(../images/sprite.png);
  background-position: 0rem -1.625rem;
  width: 0.75rem;
  height: 0.5rem;
}
.icon-up-icon {
  background-image: url(../images/sprite.png);
  background-position: 0rem -2.125rem;
  width: 0.75rem;
  height: 0.5rem;
}
.icon-upw-icon {
  background-image: url(../images/sprite.png);
  background-position: 0rem -2.625rem;
  width: 0.875rem;
  height: 0.5rem;
}
.icon-list_menu {
  background-image: url(../images/sprite.png);
  background-position: 0rem -3.125rem;
  width: 3.5625rem;
  height: 0.625rem;
}
.icon-chufa-ico {
  background-image: url(../images/sprite.png);
  background-position: 0rem -3.75rem;
  width: 1.15625rem;
  height: 0.71875rem;
}
.icon-daoda-ico {
  background-image: url(../images/sprite.png);
  background-position: 0rem -4.46875rem;
  width: 1.15625rem;
  height: 0.71875rem;
}
.icon-que-icon {
  background-image: url(../images/sprite.png);
  background-position: 0rem -5.1875rem;
  width: 0.75rem;
  height: 0.75rem;
}
.icon-for-icon-3 {
  background-image: url(../images/sprite.png);
  background-position: 0rem -5.9375rem;
  width: 0.5rem;
  height: 0.75rem;
}
.icon-icon-right-ion-small {
  background-image: url(../images/sprite.png);
  background-position: 0rem -6.6875rem;
  width: 0.5rem;
  height: 0.75rem;
}
.icon-exc-icon {
  background-image: url(../images/sprite.png);
  background-position: 0rem -7.4375rem;
  width: 0.75rem;
  height: 0.75rem;
}
.icon-login-validation-ico {
  background-image: url(../images/sprite.png);
  background-position: 0rem -8.1875rem;
  width: 0.84375rem;
  height: 0.75rem;
}
.icon-icon-left-ion-small {
  background-image: url(../images/sprite.png);
  background-position: 0rem -8.9375rem;
  width: 0.5rem;
  height: 0.75rem;
}
.icon-icon-recommend {
  background-image: url(../images/sprite.png);
  background-position: 0rem -9.6875rem;
  width: 2.125rem;
  height: 0.84375rem;
}
.icon-icon-che-icon-sel {
  background-image: url(../images/sprite.png);
  background-position: 0rem -10.53125rem;
  width: 0.875rem;
  height: 0.875rem;
}
.icon-right-icon {
  background-image: url(../images/sprite.png);
  background-position: 0rem -11.40625rem;
  width: 0.5rem;
  height: 0.875rem;
}
.icon-login-user-ico {
  background-image: url(../images/sprite.png);
  background-position: 0rem -12.28125rem;
  width: 0.75rem;
  height: 0.875rem;
}
.icon-icon-change-apply-divide {
  background-image: url(../images/sprite.png);
  background-position: 0rem -13.15625rem;
  width: 0.875rem;
  height: 0.875rem;
}
.icon-icon-che-icon-nor {
  background-image: url(../images/sprite.png);
  background-position: 0rem -14.03125rem;
  width: 0.875rem;
  height: 0.875rem;
}
.icon-rili-ico {
  background-image: url(../images/sprite.png);
  background-position: 0rem -14.90625rem;
  width: 1.15625rem;
  height: 0.90625rem;
}
.icon-icon-mon-nor {
  background-image: url(../images/sprite.png);
  background-position: 0rem -15.8125rem;
  width: 0.96875rem;
  height: 0.96875rem;
}
.icon-icon-dustbin {
  background-image: url(../images/sprite.png);
  background-position: 0rem -16.78125rem;
  width: 0.78125rem;
  height: 1rem;
}
.icon-login-password-ico {
  background-image: url(../images/sprite.png);
  background-position: 0rem -17.78125rem;
  width: 0.75rem;
  height: 1rem;
}
.icon-icon-scr-nor {
  background-image: url(../images/sprite.png);
  background-position: 0rem -18.78125rem;
  width: 0.96875rem;
  height: 1.03125rem;
}
.icon-icon-tim-nor {
  background-image: url(../images/sprite.png);
  background-position: 0rem -19.8125rem;
  width: 1.03125rem;
  height: 1.03125rem;
}
.icon-user-arrow-ico {
  background-image: url(../images/sprite.png);
  background-position: 0rem -20.84375rem;
  width: 0.625rem;
  height: 1.03125rem;
}
.icon-icon-divide {
  background-image: url(../images/sprite.png);
  background-position: 0rem -21.875rem;
  width: 0.0625rem;
  height: 1.125rem;
}
.icon-icon-back {
  background-image: url(../images/sprite.png);
  background-position: 0rem -23rem;
  width: 1.125rem;
  height: 1.125rem;
}
.icon-icon-plane-two-no {
  background-image: url(../images/sprite.png);
  background-position: 0rem -24.125rem;
  width: 2.6875rem;
  height: 1.125rem;
}
.icon-icon-oneway {
  background-image: url(../images/sprite.png);
  background-position: 0rem -25.25rem;
  width: 1.125rem;
  height: 1.125rem;
}
.icon-icon-back-no {
  background-image: url(../images/sprite.png);
  background-position: 0rem -26.375rem;
  width: 1.125rem;
  height: 1.125rem;
}
.icon-icon-plane-one-no {
  background-image: url(../images/sprite.png);
  background-position: 0rem -27.5rem;
  width: 2.6875rem;
  height: 1.125rem;
}
.icon-icon-oneway-fillorder {
  background-image: url(../images/sprite.png);
  background-position: 0rem -28.625rem;
  width: 1.125rem;
  height: 1.125rem;
}
.icon-icon-back-fillorder {
  background-image: url(../images/sprite.png);
  background-position: 0rem -29.75rem;
  width: 1.125rem;
  height: 1.125rem;
}
.icon-new-plane-filght {
  background-image: url(../images/sprite.png);
  background-position: 0rem -30.875rem;
  width: 2.6875rem;
  height: 1.125rem;
}
.icon-icon-oneway-no {
  background-image: url(../images/sprite.png);
  background-position: 0rem -32rem;
  width: 1.125rem;
  height: 1.125rem;
}
.icon-pla-icon {
  background-image: url(../images/sprite.png);
  background-position: 0rem -33.125rem;
  width: 1.25rem;
  height: 1.1875rem;
}
.icon-back-icon-1 {
  background-image: url(../images/sprite.png);
  background-position: 0rem -34.3125rem;
  width: 0.6875rem;
  height: 1.25rem;
}
.icon-left_ser_set_nor {
  background-image: url(../images/sprite.png);
  background-position: 0rem -35.5625rem;
  width: 1.25rem;
  height: 1.25rem;
}
.icon-left_ser_set_pre {
  background-image: url(../images/sprite.png);
  background-position: 0rem -36.8125rem;
  width: 1.25rem;
  height: 1.25rem;
}
.icon-left_ser_tim_nor {
  background-image: url(../images/sprite.png);
  background-position: 0rem -38.0625rem;
  width: 1.25rem;
  height: 1.25rem;
}
.icon-left_ser_tim_pre {
  background-image: url(../images/sprite.png);
  background-position: 0rem -39.3125rem;
  width: 1.25rem;
  height: 1.25rem;
}
.icon-left_ser_dow_pre {
  background-image: url(../images/sprite.png);
  background-position: 0rem -40.5625rem;
  width: 1.25rem;
  height: 1.25rem;
}
.icon-icon-time-select {
  background-image: url(../images/sprite.png);
  background-position: 0rem -41.8125rem;
  width: 1.25rem;
  height: 1.25rem;
}
.icon-train_date_select {
  background-image: url(../images/sprite.png);
  background-position: 0rem -43.0625rem;
  width: 1.25rem;
  height: 1.25rem;
}
.icon-label-child {
  background-image: url(../images/sprite.png);
  background-position: 0rem -44.3125rem;
  width: 2.25rem;
  height: 1.25rem;
}
.icon-left_ser_com_nor {
  background-image: url(../images/sprite.png);
  background-position: 0rem -45.5625rem;
  width: 1.25rem;
  height: 1.25rem;
}
.icon-left_ser_com_pre {
  background-image: url(../images/sprite.png);
  background-position: 0rem -46.8125rem;
  width: 1.25rem;
  height: 1.25rem;
}
.icon-tab-time-n {
  background-image: url(../images/sprite.png);
  background-position: 0rem -48.0625rem;
  width: 1.25rem;
  height: 1.25rem;
}
.icon-tab-money-n {
  background-image: url(../images/sprite.png);
  background-position: 0rem -49.3125rem;
  width: 1.25rem;
  height: 1.25rem;
}
.icon-tab-choice-n {
  background-image: url(../images/sprite.png);
  background-position: 0rem -50.5625rem;
  width: 1.25rem;
  height: 1.25rem;
}
.icon-tab_cost {
  background-image: url(../images/sprite.png);
  background-position: 0rem -51.8125rem;
  width: 1.25rem;
  height: 1.25rem;
}
.icon-rig-cho-nor-blue {
  background-image: url(../images/sprite.png);
  background-position: 0rem -53.0625rem;
  width: 1.25rem;
  height: 1.25rem;
}
.icon-left_ser_dow_nor {
  background-image: url(../images/sprite.png);
  background-position: 0rem -54.3125rem;
  width: 1.25rem;
  height: 1.25rem;
}
.icon-icon-left-ion-big {
  background-image: url(../images/sprite.png);
  background-position: 0rem -55.5625rem;
  width: 0.6875rem;
  height: 1.25rem;
}
.icon-car-icon-sel {
  background-image: url(../images/sprite.png);
  background-position: 0rem -56.8125rem;
  width: 1.15625rem;
  height: 1.28125rem;
}
.icon-plane-contacts-change {
  background-image: url(../images/sprite.png);
  background-position: 0rem -58.09375rem;
  width: 1.15625rem;
  height: 1.28125rem;
}
.icon-car-icon-nor {
  background-image: url(../images/sprite.png);
  background-position: 0rem -59.375rem;
  width: 1.15625rem;
  height: 1.28125rem;
}
.icon-icon-add-passenger {
  background-image: url(../images/sprite.png);
  background-position: 0rem -60.65625rem;
  width: 1.34375rem;
  height: 1.3125rem;
}
.icon-icon-add-white {
  background-image: url(../images/sprite.png);
  background-position: 0rem -61.96875rem;
  width: 1.34375rem;
  height: 1.3125rem;
}
.icon-icon-con {
  background-image: url(../images/sprite.png);
  background-position: 0rem -63.28125rem;
  width: 1.3125rem;
  height: 1.3125rem;
}
.icon-order-choice-n {
  background-image: url(../images/sprite.png);
  background-position: 0rem -64.59375rem;
  width: 1.375rem;
  height: 1.375rem;
}
.icon-order-time-icon {
  background-image: url(../images/sprite.png);
  background-position: 0rem -65.96875rem;
  width: 1.375rem;
  height: 1.375rem;
}
.icon-user-advice-ico {
  background-image: url(../images/sprite.png);
  background-position: 0rem -67.34375rem;
  width: 1.375rem;
  height: 1.375rem;
}
.icon-user-about-ico {
  background-image: url(../images/sprite.png);
  background-position: 0rem -68.71875rem;
  width: 1.375rem;
  height: 1.375rem;
}
.icon-user-information-ico {
  background-image: url(../images/sprite.png);
  background-position: 0rem -70.09375rem;
  width: 1.375rem;
  height: 1.375rem;
}
.icon-cho-nor {
  background-image: url(../images/sprite.png);
  background-position: 0rem -71.46875rem;
  width: 1.375rem;
  height: 1.375rem;
}
.icon-plane-no-select {
  background-image: url(../images/sprite.png);
  background-position: 0rem -72.84375rem;
  width: 1.375rem;
  height: 1.375rem;
}
.icon-plane-select {
  background-image: url(../images/sprite.png);
  background-position: 0rem -74.21875rem;
  width: 1.375rem;
  height: 1.375rem;
}
.icon-cho-pre {
  background-image: url(../images/sprite.png);
  background-position: 0rem -75.59375rem;
  width: 1.375rem;
  height: 1.375rem;
}
.icon-bus {
  background-image: url(../images/sprite.png);
  background-position: 0rem -76.96875rem;
  width: 1.375rem;
  height: 1.375rem;
}
.icon-user-help-ico {
  background-image: url(../images/sprite.png);
  background-position: 0rem -78.34375rem;
  width: 1.375rem;
  height: 1.375rem;
}
.icon-rig-cho-icon {
  background-image: url(../images/sprite.png);
  background-position: 0rem -79.71875rem;
  width: 1.375rem;
  height: 1.375rem;
}
.icon-login_account {
  background-image: url(../images/sprite.png);
  background-position: 0rem -81.09375rem;
  width: 1.375rem;
  height: 1.375rem;
}
.icon-login_close {
  background-image: url(../images/sprite.png);
  background-position: 0rem -82.46875rem;
  width: 1.375rem;
  height: 1.375rem;
}
.icon-login_password {
  background-image: url(../images/sprite.png);
  background-position: 0rem -83.84375rem;
  width: 1.375rem;
  height: 1.375rem;
}
.icon-geren-select {
  background-image: url(../images/sprite.png);
  background-position: 0rem -85.21875rem;
  width: 1.375rem;
  height: 1.375rem;
}
.icon-geren {
  background-image: url(../images/sprite.png);
  background-position: 0rem -86.59375rem;
  width: 1.375rem;
  height: 1.375rem;
}
.icon-att-icon {
  background-image: url(../images/sprite.png);
  background-position: 0rem -87.96875rem;
  width: 1.375rem;
  height: 1.375rem;
}
.icon-bus-select {
  background-image: url(../images/sprite.png);
  background-position: 0rem -89.34375rem;
  width: 1.375rem;
  height: 1.375rem;
}
.icon-train_arrow {
  background-image: url(../images/sprite.png);
  background-position: 0rem -90.71875rem;
  width: 5.375rem;
  height: 1.375rem;
}
.icon-order_smile {
  background-image: url(../images/sprite.png);
  background-position: 0rem -92.09375rem;
  width: 1.375rem;
  height: 1.375rem;
}
.icon-train_down {
  background-image: url(../images/sprite.png);
  background-position: 0rem -93.46875rem;
  width: 1.375rem;
  height: 1.375rem;
}
.icon-train_gray {
  background-image: url(../images/sprite.png);
  background-position: 0rem -94.84375rem;
  width: 1.375rem;
  height: 1.375rem;
}
.icon-train-12306-icon {
  background-image: url(../images/sprite.png);
  background-position: 0rem -96.21875rem;
  width: 1.375rem;
  height: 1.375rem;
}
.icon-train-arrow-white {
  background-image: url(../images/sprite.png);
  background-position: 0rem -97.59375rem;
  width: 5.375rem;
  height: 1.375rem;
}
.icon-train-select {
  background-image: url(../images/sprite.png);
  background-position: 0rem -98.96875rem;
  width: 1.375rem;
  height: 1.375rem;
}
.icon-order-choice_s {
  background-image: url(../images/sprite.png);
  background-position: 0rem -100.34375rem;
  width: 1.375rem;
  height: 1.375rem;
}
.icon-train {
  background-image: url(../images/sprite.png);
  background-position: 0rem -101.71875rem;
  width: 1.375rem;
  height: 1.375rem;
}
.icon-user-order-ico {
  background-image: url(../images/sprite.png);
  background-position: 0rem -103.09375rem;
  width: 1.375rem;
  height: 1.375rem;
}
.icon-icon-fillorder-cho {
  background-image: url(../images/sprite.png);
  background-position: 0rem -104.46875rem;
  width: 1.4375rem;
  height: 1.4375rem;
}
.icon-icon-close {
  background-image: url(../images/sprite.png);
  background-position: 0rem -105.90625rem;
  width: 1.4375rem;
  height: 1.4375rem;
}
.icon-train-through-arrow {
  background-image: url(../images/sprite.png);
  background-position: 0rem -107.34375rem;
  width: 5.3125rem;
  height: 1.53125rem;
}
.icon-train-through-arrow-black {
  background-image: url(../images/sprite.png);
  background-position: 0rem -108.875rem;
  width: 5.71875rem;
  height: 1.53125rem;
}
.icon-order-zhifubao-png {
  background-image: url(../images/sprite.png);
  background-position: 0rem -110.40625rem;
  width: 1.9375rem;
  height: 1.9375rem;
}
.icon-order-weixin_png {
  background-image: url(../images/sprite.png);
  background-position: 0rem -112.34375rem;
  width: 1.9375rem;
  height: 1.9375rem;
}
.icon-plane-tag-bg {
  background-image: url(../images/sprite.png);
  background-position: 0rem -114.28125rem;
  width: 7.8125rem;
  height: 2.09375rem;
}
.icon-jiaohuan-ico {
  background-image: url(../images/sprite.png);
  background-position: 0rem -116.375rem;
  width: 2.25rem;
  height: 2.25rem;
}
