.item{
    font-size: 16px;
    border-color: #ddd;
    background-color: #fff;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 16px;
    border-width: 1px;
    border-style: solid;
    border-width: 0;
    padding-bottom: 0;
}

.item-floating-label{
    display: block;
    background-color: transparent;
    box-shadow: none;
}