
.item{
    font-size: 16px;
    border-color: #ddd;
    background-color: #fff;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 16px;
    border-width: 1px;
    border-style: solid;
    border-width: 0;
    padding-bottom: 0;
}

.item-floating-label{
    display: block;
    background-color: transparent;
    box-shadow: none;
}



.label-item{
    composes: item ;
    composes: item-floating-label ;
    composes: text-overflow from "../../../styles/common.scss";
}

.city-title{
    display: block;
    height: auto;
    width: 100%;
    overflow: hidden;
}


.label-city{
    font-size: 1.0625rem;
    color: #c3c3c3;
}

.label-form-city{
    composes:label-city;
    float: left;
}

.label-to-city{
    composes:label-city;
    float: right;
}

.select-city{
    composes: clear-fixed from "../../../styles/common.scss";
    text-align: center;
    margin: 16px 0;
}

.city{
    display: block;
    text-decoration: none;
    text-align: center;
    height: 35px;
    line-height: 35px;
    width: 40%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.25rem;
    color: #333;
    font-weight: 900;
    position: relative;
}

.from-city{
    float: left;
    text-align: left
}

.to-city{
    float: right;
    text-align: right;
}

.left-border {
    width: 40%;
    margin-right: 15px;
    float: left;
    content: " ";
    border-bottom: 1px solid #c8c8c8;
}

.right-border{
    width: 40%;
    margin-left: 15px;
    float: right;
    content: " ";
    border-bottom: 1px solid #c8c8c8;
}

.search-container{
    margin: 0 0 10px;
    background-color: #FFF;
}

.search-list{
    margin: 0;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 0;
    position: relative;
}





.label-item{
    composes: item  ;
    composes: item-floating-label ;
    composes: text-overflow from "../../../styles/common.scss";
    composes: clear-fixed from "../../../styles/common.scss";
}


.form-date{
    composes: clear-fixed from "../../../styles/common.scss";
    height: auto;
    overflow: hidden;
}


.labe-form-date{
    display: block;
    width: 50%;
    float: left;
    font-size: 1.0625rem;
    color: #c3c3c3;
    height: 34px;
    line-height: 34px;
}

.form-date-selct{
    composes: clear-fixed from "../../../styles/common.scss";
    width: 50%;
    float: left;
    position: relative;
    line-height: 34px;
}

.date-input{
    display: block;
    padding-top: 2px;
    padding-left: 0;
    line-height: 34px;
    height: 34px;
    color: #111;
    font-size: 14px;
    border: 0;
    width: 100%;
    text-align: right;
    padding-right: 36px;
    background-color: #fff;
    font-size: 1.25rem;
    cursor: not-allowed;
}

.date-week{
    font-size: .75rem;
    position: absolute;
    bottom: -5px;
    right: 0;
    z-index: 10;
}

.border{
    margin-top: 15px;
    border-bottom: 1px solid #c8c8c8;
}



.search-submit{
    padding: 10px;
}

.submit-button{
    composes: button from "../../../styles/common.scss";
    composes: button-block from "../../../styles/common.scss";
    border-radius: 6px;
    background-color: #ef8019;
    font-size: 1.25rem;
    font-weight: 400;
    color: #fff;
    margin-top: 0;
}


.label-item{
    composes: item ;
    composes: item-floating-label ;
    composes: text-overflow from "../../../styles/common.scss";
    composes: clear-fixed from "../../../styles/common.scss";
    padding-top: 0;
    padding-bottom: 16px;
}



.train-find{
    position: relative;
    overflow: hidden;
    line-height: 70px;
    height: 70px;
    border-bottom: 1px solid #ddd;
    p{
        olor: #333;
        font-size: 1.25rem;
        font-weight: 600;
        float: left;
        width: 50%;
        margin: 0 0 10px;
        margin-bottom: 2px;
    }
}


.switch{
    float: right;
    position: relative;
    top: 25px;
    height: 25px !important;
    min-width: 50px !important;
}


.switch:after{
    height: 21px !important;
}



.search-rob-button{
    composes: button from "../../../styles/common.scss";
    composes: button-block from "../../../styles/common.scss";
    border-radius: 6px;
    background-color: #2ca1f1;
    font-size: 1.25rem;
    font-weight: 400;
    color: #fff;
    margin-top: 0;
   
}
