



.login-tab{
    clear: both;
    overflow: hidden;
    margin: 0 15px;
    padding: 0;
    position: relative;
    top: 55px;
    li{
        float: left;
        width: 50%;
        text-align: center;
        height: 42px;
        line-height: 38px;
        vertical-align: middle;
        font-size: 1rem;
        border-bottom: 1px solid #fff;
        color: #fff;
        font-size: 1rem;
    }
}







