

.root-container{
	height:100%;
	width:100%;
	position: relative;
}


.train-fill-order-container{
    position: absolute;
    top: 140px;
    right: 0;
    margin: 0;
    left: 0;
    padding: 15px 0 0;
    bottom: 43px;
    overflow-x: hidden;
    background-color: #ececec;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    overflow-scrolling: touch;
}


.add-passenger{
    background-color: #fff;
    color: #2ca1f1;
    font-size: .9375rem;
    font-weight: 500;
    text-decoration: none;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    z-index: 2;
    margin-top: 10px;
    padding: 13px;
    text-align: center;
    i{
        position: relative;
        top: 4px;
    }
}



.contacts-container{
    margin: 10px 0;
    background-color: #fff;
}


.contacts-list{
    position: relative;
    height: auto;
    overflow: hidden;
    padding: 10px 10px 10px 15px;
    border-bottom: 1px solid #c8c8c8;
    font-size: .9375rem;
    &:first-child {
        padding: 10px 10px 10px 0;
        margin-left: 15px;
    }
    label{
        color: #888;
        position: relative;
        top: 3px;
    }
    input{
        float: right;
        height: 25px;
        width: 79%;
        margin-right: 10px;
    }
}

.insurance-container{
    padding: 0;
    margin-bottom: 15px;
    background-color: #fff; 
}


.insurance-list{
    composes: list from "../../../styles/layout.scss";
    &:last-child {
        margin-bottom: 0;
    }
}



.insurance-item{
    height: auto;
    overflow: hidden;
    border: 0 solid #fff;
    margin: 0 0 0 15px;
    padding: 5px 5px 5px 0;
    border-bottom: .5px solid #C8C8C8;
    &:last-child {
        border-bottom: 0;
    }
}



.insurance-message{
    width: 80%;
    margin-top: 6px;
    float: left;
    height: auto;
    overflow: hidden;
    font-size: .875rem;
    color: #333;
}


.insurance-check{
    width: 20%;
    float: left;
    height: auto;
    overflow: hidden;
    position: relative;
    i{
        position: relative;
        top: 4px;
    }
}

.check-select{
    padding: 0;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    position: relative;
    display: inline-block;
    z-index: 1;
    overflow: hidden;
    pointer-events: auto;
    input{
        position: absolute;
        width: 15px;
        height: 15px;
        display: block;
        border: 0;
        background: 0 0;
        cursor: pointer;
        -webkit-border-radius: 0;
        border-radius: 0;
        outline: none !important;
        appearance: none !important;
        -webkit-appearance: none !important;
        margin: 0;
        line-height: normal;
        left: 3px;
        top: 3px;
        border: 0px;    
    }
}


.insurance-message-detail{
    font-size: .75rem;
    color: #666;
    &.show{
        display: block;
    }
    &.hide{
        display: none;
    }
    .small{
       font-size: 0.75rem; 
    }
}


.train-treaty{
    margin-bottom: 15px;
    margin-right: 15px;
    font-size: .8rem;
    color: #8b8b8b;
}





.checkbox-select{
    min-height: 20px;
    position: relative;
    display: inline-block;
    pointer-events: auto;
    min-height: 24px;
    margin-top: 2px;
    position: relative;
    float: left;
    margin: 0 10px;
    input[type=checkbox]{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        height: 100%;
        z-index: 10;
    }
    label{
        pointer-events: auto;
    }
}



.order-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 43px;
    background-color: #3a495a;
    color: #fff;
}


.footer-price{
    float: left;
    margin: 0 10px;
    margin-top: 6px;
    width: 37%;
    color: #f63;
    font-size: 1.25rem;
    .pirce {
        font-size: 1.5625rem;
    }
}

.footer-detail{
    display: inline-block;
    position: relative;
    top: 11px;
    float: right;
    margin-right: 10px;
}

.footer-submit{
    composes: button from "../../../styles/layout.scss";
    padding: 0 15px!important;
    background-color: #ff8400;
    color: #fff;
    margin: 5px 10px 5px auto;
    min-width: 52px;
    min-height: 30px;
    line-height: 30px;
    float: right;
}


.footer-submit-disabled{
    opacity: .4;
    cursor: default!important;
    pointer-events: none;
}



.footer-popup-detail{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FFF;
    opacity: 1;
    z-index: 1000;
    display: block;
}



.popup-item{
    composes: row from "../../../styles/layout.scss";
    &.separated {
        border-bottom: 1px solid #c8c8c8;
    }
}


.item-col-left{
    composes: col from "../../../styles/layout.scss";
}


.item-col-Middle{
    composes: col from "../../../styles/layout.scss";
    composes: col-50 from "../../../styles/layout.scss";
    color: #ff8409;
    text-align: right;
}


.item-col-right{
    composes: col from "../../../styles/layout.scss";
    text-align: right;
}




