<div class="war-header">
	<head-title title="请登录"  left-icon="go-back" left-click="vm.goBack()">
	</head-title>
</div>

<div class="war-container bgGrey">
	<form  name="loginForm"  novalidate="novalidate"  autocomplete="off">
		<div class="user-login-input clearfix bgWhite mt15">
			<div class="user-mobile-container clearfix">
				<div class="mobile">
					<input 	type="text"
							name="mobile"
                			required
                			ng-pattern="/^1[3|4|5|7|8]\d{9}$/"
						 	placeholder="手机号码"
						 	ng-model="vm.user.mobile" />
				</div>
				<button ng-class="{'active':loginForm.mobile.$valid ,'gary': vm.countDown}"
						ng-disabled="!loginForm.mobile.$valid" 
						class="verification-code"
						ng-click="vm.getVerification()"
				>
					{{vm.verification}}
				</button>
			</div>

			<div class="user-password-container clearfix">
				<input 	type="tel"
						name="password" 
            			required
            			ng-pattern="/^\d{4}$/"
						placeholder="输入验证码" 
						ng-model="vm.user.password"/>
			</div>
		</div> 

		<div class="user-login-check clearfix">
			<div class="col-20 fl">
				<i 	ng-show="!vm.radioChecked" 
					ng-click="vm.radioClick()" class="cicon icon-radio"></i>
				<i 	ng-show="vm.radioChecked" 
					ng-click="vm.radioClick()" class="cicon icon-radio-ed"></i>
			</div>
			<div class="col-80 fl">
				<p>
					我已查看并同意
					<a href="javascipte:">精品活动使用条款</a>
				</p>
			</div>
		</div>

		<div class="user-login-submit clearfix">
			<button ng-class="{'active':loginForm.$valid && vm.radioChecked}" 
					ng-disabled="!loginForm.$valid && vm.radioChecked"
					ng-click="vm.submitLogin()"
			>
				完成
			</button>
		</div>
	</form>
</div>