

.search-container{
	margin: 0 0 20px;
    background-color: #FFF;
}

.search-list{
    margin: 0;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 0;
    position: relative;
}

.recommend-bus{
	text-align:center;
	padding:20px 10px;
	background:#ececec;
	p{
		height:20px;
	    line-height:20px;
	}
	.recommend-title{
		width:100%;
		height:1.25rem;
		overflow:hidden;
		margin-bottom:20px;
		span:first-child,span:nth-child(3){
			height:50%;
			width:20%;
			border-bottom:1px solid #e0e0e0;
			
		}
		span:nth-child(2){
			float:left;
			width:48%;
			font-size:1.25rem;
			color:#868686;
			text-align:center;
		}
		span:first-child{
			margin-right:10px;
			float:left;
		}
		span:nth-child(3){
			float:right;
			margin-left:10px;
		}
	}

}

.recommend-pic{
	overflow:auto;
	margin-bottom:30px;
	.item-pic:nth-child(odd){
		padding:0 5px 20px 0;
	}
	.item-pic:nth-child(even){
		padding:0 0 20px 5px;
	}
}

.item-pic{
	width:49.9%;
	display:inline-block;
	float:left;
	img{
		width:100%;
	}
	p{
		background:#fff;
		padding:0 8px;
		font-size:14px;
		color:#000;
		height:40px;
		line-height:40px;
		position:relative;
		top:-4px;
		span:first-child{
			float:left;
		}
		span:last-child{
			float:right;
		}
	}
}



