
.popup-container{
	position: absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background-color: rgba(255,255,255,0.7);
}
.shader-popup{
	position: absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background-color: rgba(0,0,0,0.4);
}


.shader-loadding{
	.loadding-container{
	    width: 80%;
		height: 200px;
    	margin: 50% auto 0;
    	overflow: hidden;
    	img{
			width: 100%;
    		height: 100%;
    		border-radius: 50px
    	}
	}
}

.shader-container{
    width: 80%;
    height: 150px;
    margin: 55% auto 0;
    overflow: hidden;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px 0px 0px 0px;
    .shade-title{
    	padding:0px 7px;
    	height: 35px;
	    text-align: center;
	    font-size: 24px;
	    font-weight: 700;
	    color: #3333FF;
	    border-bottom:1px solid #d0d0d0;
    }
    .shade-content{
    	padding:0px 15px;
	    font-size: 16px;
	    text-align: center;
	    font-weight: 700;
	    height: 45px;
	    margin-top: 20px;
	    border-bottom:1px solid #d0d0d0;
	    span{
	    	display: inherit;
	    }
	    &.alone-content{
	    	height: 80px;
	    	font-size: 20px;
	    }
    }
    .shade-button{
    	padding:0px 15px;
    	height: 45px;
    	button{
			display: block;
		    width: 49%;
		    float: left;
		    height: 100%;
		    border: 0px;
		    background-color:#fff;
	        color: #3366FF;
		    font-size: 17px;
		    font-weight: 700;
    	}
    	button:first-child{
    		border-right:1px solid #d0d0d0;
    		&.alone{
    			width: 100%;
    			text-align: center;
    			border:0px;
    		}
    	}

    }
}